main {
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/*EVENTS*/

.events {
    margin: 13em auto 5em auto;
    width: 80%;
}

.flex1,
.flex3,
.flex4 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex2 {
    display: flex;
    flex-flow: column nowrap;
}

.flex-element {
    flex: 1 max-content;
}

.flex2 > div:first-of-type {
    margin-top: -4em;
}

.flex4 {
    margin-top: -1.2em;
}

/*image sizes*/

.w200 {
    width: 200px;
    height: 200px;
}

.w300 {
    width: 300px;
    height: 100px;
}

.w100 {
    width: 100px;
    height: 100px;
}

/*containers*/

.image-container {
    margin: 0.3em;
}

.container1 {
    background: no-repeat url('images/festivals/burningman2.jpg') center;
    background-size: cover;
    border: 3px solid #FD7875;
}

.container2 {
    background: no-repeat url('images/festivals/rockbobrov.jpeg') center;
    background-size: cover;
    border: 3px solid #FD7875;
}

.container3 {
    background: no-repeat url('images/festivals/sunday.jpg') center;
    background-size: cover;
    border: 3px solid #FD7875;
    margin-top: -1em;
}

.container4 {
    background: no-repeat url('images/festivals/upark.jpg') center;
    background-size: cover;
    border: 3px solid #FD7875;
    margin-top: 1em;
}

.container5 {
    background: no-repeat url('images/festivals/vivabraslav.jpeg') center;
    background-size: cover;
    border: 3px solid #FD7875;
}

.container6 {
    background: no-repeat url('images/festivals/zaxidfest2.jpg') center;
    background-size: cover;
    border: 3px solid #FD7875;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6 {
    transition: filter 1s;
    filter: grayscale(0%);
}

.container1:hover,
.container2:hover,
.container3:hover,
.container4:hover,
.container5:hover,
.container6:hover {
    filter: grayscale(99%);
}

.container-header {
    visibility: hidden;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-align: center;
}

.container1-header,
.container6-header {
    padding-top: 75%;
}

.container2-header,
.container5-header {
    padding-top: 18%;
}

.container3-header,
.container4-header {
    padding-top: 55%;
}

.container1:hover .container-header,
.container2:hover .container-header,
.container3:hover .container-header,
.container4:hover .container-header,
.container5:hover .container-header,
.container6:hover .container-header {
    visibility: visible;
    transition: 1s;
}

/*event-title*/

.events-title {
    font-style: inherit;
    font-weight: 300;
    font-size: 8em;
    text-align: center;
    margin-top: -0.35em;
}

.events-title > a {
    color: #FD7875;
}

.events-title > a:hover {
    color: black;
}

/*CHOICE*/

.choice-header {
    font-style: inherit;
    font-size: 2em;
    color: white;
    text-align: center;
    width: 83%;
    background: black;
    padding: 0;
    margin: 0.5em auto;
    border-radius: 0.2em;
}

.choice-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form > * {
    margin-right: 2em;
    margin-left: 2em;
}

input[type="button"],
select {
    width: 10em;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #d9d9d9;
    font-size: 1.4em;
    text-align-last: center;
}

/*BLOGS*/

.blog {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blog > * {
    float: right;
}

.main-article {
    position: relative;
    width: 55em;
    height: 37em;
    background: no-repeat url("images/festivals/vivabraslav.jpeg")  center;
    background-size: cover;
    margin: 5em -1em;
}

.article-title {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    text-align: right;
}

.article-title:hover {
    text-decoration: underline;
}

.news {
    margin-right: 5em;
}

.blog-title {
    font-style: inherit;
    font-weight: 300;
    font-size: 7em;
    margin-bottom: 0.5em;
}

.blog-title > a {
    color: #FD7875;
}

.blog-title > a:hover {
    color: black;
}

.blog-news {
    font-style: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 17em;
    padding-bottom: 2em;
}

.blog-news > a {
    color: black;
}

.blog-news > a:hover {
    color: #d9d9d9;
}

.blog-news::after {
    content: '';
    overflow: hidden;
}