body {
    max-width: 1440px;
    min-width: 660px;
}

main {
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.card-header {
    margin: 10em 9em 1em;
}

.header-video {
    width: 900px;
    height: 600px;
}

.card-header__title {
    font-style: inherit;
    font-size: 5em;
    width: 40%;
    color: #FD7875;
    text-align: right;
    text-transform: uppercase;
    float: right;
    margin-top: -1em;
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.card-description {
    width: 60%;
    margin: 0 0 2em 10em;
}

.card-description > p {
    font-style: inherit;
    font-size: 1em;
}

.paragraph {
    margin-bottom: 2em;
    color: #000000;
}

.paragraph:first-of-type {
    color: white;
    background: black;
    width: 100%;
    margin: -2.3em 0 0 -12em;
    padding: 0.4em 0.4em 0.4em 12em;
}

.insta-name {
    float: right;
    color: #d9d9d9;
    padding: 0.1em 0.2em 0.2em 1em;
    margin-right: 13%;
}

.insta-img {
    float: right;
    width: 25px;
    height: 25px;
}

.insta-img,
.insta-name {
    margin-top: 3em;
}

.insta-name:hover {
    text-decoration: underline;
}

.card-company {
    width: 60%;
    margin: 0 0 2em 10em;
}

.company-header {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.company-header:hover {
    color: #d9d9d9;
}

.company-header:focus {
    outline: none;
}

#none {
    display: none;
}

.line {
    /*display: none;*/
    width: 60%;
    height: 0.2em;
    background-color: black;
}

.line::after {
    /*display: none;*/
    content: "выбирай с кем";
    font-size: 1em;
    color: #d9d9d9;
    margin-left: 0.5em;
}

.companion {
    /*display: none;*/
    border-radius: 40px;
    margin-top: 2em;
    margin-right: 1em;
}

.w100 {
    width: 80px;
    height: 80px;
}

.clear {
    clear: both;
}

@media (max-width: 1200px) {
    .card-header {
        margin: 10em 10em;
    }

    .header-video {
        width: 650px;
        height: 400px;
    }

    .insta-name {
        margin-right: 8%;
    }
}

@media (max-width: 1100px) {
    .card-header {
        margin: 10em 13em;
    }

    .card-header__title {
        width: 10em;
        float: none;
        margin: 0 auto -2em;
    }

    .insta-name {
        margin-right: 6%;
    }
}

@media (max-width: 1024px) {
    .card-header {
        margin: 10em 12.5em;
    }

    .card-header__title {
        width: 10em;
        margin: 0 -2.3em -2em;
    }

    .insta-name {
        margin-right: 4%;
    }
}

@media (max-width: 970px) {
    .insta-name {
        margin-right: 2%;
    }
}

@media (max-width: 920px) {
    .card-header {
        margin: 10em 8em;
    }

    .insta-name {
        margin-right: 1%;
    }
}

@media (max-width: 890px) {
    .card-header {
        margin: 10em 8em 11em;
    }

    .insta {
        display: none;
    }
}

@media (max-width: 860px) {
    .card-header {
        margin: 10em 7em 11em;
    }
}

@media (max-width: 840px) {
    .card-header {
        margin: 10em 6em 11em;
    }
}

@media (max-width: 815px) {
    .card-header {
        margin: 10em 5em 11em;
    }
}

@media (max-width: 790px) {
    .card-header {
        margin: 10em 4em 11em;
    }
}

@media (max-width: 760px) {
    .card-header {
        margin: 10em 3em 11em;
    }
}

@media (max-width: 730px) {
    .card-header {
        margin: 10em 2em 11em;
    }
}

@media (max-width: 700px) {
    .card-header {
        margin: 10em 1em 11em;
    }
}

@media (max-width: 675px) {
    .card-header {
        margin: 10em 0.5em 11em;
    }
}